
Usage:

    {{#cyan}}depper{{/cyan}} <command> [<args>] [<options>]

Commands:

    completion     Tab Completion for Depper
    help           Display help information about Bower
    install        Install a package locally

Options:

    {{#yellow}}--no-color{{/yellow}} - Do not print colors (available in all commands)

See 'depper help <command>' for more information on a specific command.
