
Usage:

    {{#cyan}}depper{{/cyan}} install <package> <src>

Options:

    {{#yellow}}--save{{/yellow}}     - Save installed packages into the project's 
    {{#yellow}}--no-color{{/yellow}} - Do not print colors (available in all commands)

Arguments:

    {{#yellow}}<package>{{/yellow}} - name of the package you want to install
    {{#yellow}}<src>{{/yellow}}     - the path where the package is located. This could be a
    any git path or local source folder.

See 'depper help <command>' for more information on a specific command.
